body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.pregledNaloga{

    padding:5%;
    border:1px solid #a8a8a8;
    border-radius:5px;
}

.naslovNaloga{

    padding-top:5%;
    margin-bottom:5%;

}

.udji{

    border-radius:20px;
    padding:3%;
    background-color:mediumvioletred;
}

.dugme{
   height:30px;
    width:100%;
}

.crveniOkvir{

    border: 1px solid red;
    border-radius:5px;
    padding:2%;
    margin-top:2%;
}
